{% extends "base.html" %}
{% block title %}Chating{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row" style="height: calc(100vh - 56px);">
        <ul class="col-3 m-3 list-group">
            {% for chat in chats %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ chat.name }}</div>
                    {{ chat.message_set.last.content }}
                </div>
                {% if chat.message_set.all|length > 0 %}
                <span class="badge bg-primary rounded-pill">{{ chat.message_set.all|length }}</span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <div class="col">2</div>
    </div>
</div>
{% endblock content %}